<div class="clear-form col-md-offset-4 col-md-4">
  <div class="logout-wrapper">
      <div class="logout-text">

      </div>
  </div>
  <p class="text-center"><a ui-sref="users.sign-in">Login</a></p>
</div>
