<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
    {{flash.message}}
  </article>
</aside>
<section class="col-md-6 col-md-offset-3">
  <article class="panel panel-info">
    <header class="panel-heading"><h1>{{screening.movie.name}}</h1></header>
    <div class="panel-body">
        <div class="form-group">
        <label class="col-sm-2 control-label">Opis</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{screening.movie.description}}</p>
        </div>
        </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">Trajanje</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{screening.movie.duration}}</p>
        </div>
        </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">Pocetak</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{screening.start_datetime}}</p>
        </div>
        </div>
    </div>

  </article>
  <article class="panel panel-info" ng-show="loggedIn">
    <header class="panel-heading"><h3>Reserve Tickets</h3></header>
    <div class="panel-body">
        <div class="form-group">
        <label class="col-sm-2 control-label">Number of tickets:</label>
        <div class="col-sm-10">
          <select ng-model="selectedNumber"  ng-options="number for number in numbers"></select>
        </div>
        </div>

        <div class="col-md-3 text-right">
          <button ng-click="reserve(screening.id)" class="btn btn-info" ng-show="loggedIn"> Reserve </button>
        </div>
    </div>

  </article>
  <article class="panel panel-info" ng-show="!loggedIn">
    <header class="panel-heading"><h3>Reserve Ticket</h3></header>
    <div class="panel-body">
        <span> You need to <a ui-sref="users.sign-in">sign in</a> to register tickets.</span>

    </div>

  </article>
<section>
    <div class="col-md-3">
      <button ng-click="back()" class="btn btn-default">
        &larr; Back
      </button>
    </div>
    <div class="col-md-9 text-right">
      <button ng-click="edit(screening.id)" class="btn btn-info" ng-show="user.user_type_id == 1"> Edit </button>
      <button ng-click="delete()" class="btn btn-danger" ng-show="user.user_type_id == 1"> Delete </button>
    </div>
  </section>
</section>
