<!DOCTYPE html>
<html>
<head>
  <title>Cinema booking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='cinema'>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" ui-sref='screenings.list'>Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" ng-show="user.user_type_id == 1" ><a ui-sref='movies.list'>Movies </a></li>
        <li class="active"><a ui-sref='screenings.list'>Screenings </a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ui-sref="users.sign-in" ng-show="!loggedIn">Sign In</a></li>
        <li><a href="#" ui-sref="users.logout" ng-show="loggedIn">Log Out</a></li>
        <li><a href="#" ui-sref="users.register" ng-show="!loggedIn">Register</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>

</body>
</html>
